.nav-link{
    @include media-breakpoint-up(lg) {
        display: inline-block;
        line-height: 106px;    
        text-align: center;       
    }    
}
.logo-img{
    background: url(../images/logo.svg);
    width: 85px;
    height: 18px;
    background-position: center;
    background-size: cover;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    @include media-breakpoint-up(md){
        width: 100px;
        height: 20px;
    }   
    @include media-breakpoint-up(lg) {
        width: 190px;
        height: 40px;
    }
}
.search-item {    
    @include media-breakpoint-up(lg) {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
}
.header-collapse{
    display: block;
    @include media-breakpoint-up(lg){
        display: none;
    }
    a:hover {
        background-color: $secondary;
        color: $white;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
} 