// recommend
.text-turn{
    writing-mode: vertical-lr;
}
.border-breakpoint {
    border-color:transparent;
    @include media-breakpoint-up(lg){
        border: 1px solid #000;
    }
}
.card-border-botton{
    border-bottom: 2px solid #000;
    @include media-breakpoint-up(lg){        
        border-bottom: 0;
    }
}
.card-border-start {   
    @include media-breakpoint-up(lg) {
        border-left: 1px solid #000;
    }
}
.recommend-artsize{
    width: 100%;
    height: 372px;  
    @include media-breakpoint-up(lg) {
        max-width: 100%;
        height: 320px;

    } 
    @include media-breakpoint-up(xxl) {
        max-width: 329px;
        height: 340px;
    }   
}
.art2 {
    background: url(../images/art02.jpg);   
    background-position: center;
    background-size: cover;
    
}
.art21 {
    background: url(../images/art21.jpg);   
    background-position: center;
    background-size: cover;
    
}
// ranking
.card-number{
    font-family: 'Noto Sans TC';
}
.card-number-absolute {
    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 64px;
        height: 64px;
        background-color: $white;
        border-right: 1px solid #000;  
        border-bottom: 1px solid #000;
        z-index: 2;
    }
}
.ranking-img-size {
    width: 89px;
    height: 91px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;  
    @include media-breakpoint-up(lg) {
        width: 100%;
        height: 374px;
        border-bottom: 1px solid #000;
        border-left:none;
        border-right:none; 
    }    
}
.ranking-hover-btn {
    display: none;
    @include media-breakpoint-up(lg) {        
        display: block;
        position: absolute;
        width: 100%;  
        height: 100%;        
        background-color: rgba( $black,0.5 ); 
        opacity: 0;
        .btn{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &:hover {
            opacity: 1;
        }
    }    
}
.hover-btn-sm {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
        position: absolute;  
        left: 47px;  
        opacity: 0;   
        .btn {            
            padding: 36px 26px;
            border: none;
            background-color: rgba( $black,0.7 );    
            color: $white;         
        }       
    }
}
.card:hover .hover-btn-sm{
    @include media-breakpoint-up(lg) {
        opacity: 1;
    }
}
// 1
.art4 {
    background: url(../images/art04.jpg);    
    background-position: center;
    background-size: cover;      
    @include media-breakpoint-up(lg) {       
        background-position:top; 
    }
}
// 2
.art5 {
    background: url(../images/art05.jpg);
    background-position: center;
    background-size: cover;   
    @include media-breakpoint-up(lg) {       
        background-position:top;       
    }
}
// 3
.art6 {
    background: url(../images/art06.jpg);
    background-position: center;
    background-size: cover;  
}
// 4
.art13 {
    background: url(../images/art13.jpg);
    width: 89px;
    height: 91px;
    background-position: center;
    background-size: cover;    
}
//  5
.art7 {
    background: url(../images/art07.jpg);
    width: 89px;
    height: 91px;
    background-position: center;
    background-size: cover;    
}
//  6
.art8 {
    background: url(../images/art08.jpg);
    width: 89px;
    height: 91px;
    background-position: center;
    background-size: cover;    
}
// Artist

.artist01{
    display: none;
    @include media-breakpoint-up(xxl) {
        background: url(../images/artist01.jpg);
        width: 306px;
        height: 262px;
        background-position: center;
        background-size: cover;    
        filter:grayscale(100%) ;
        display: block;
    }    
}
.artist02{
    background: url(../images/artist02.jpg);
    width: 100%;
    height: 232px;
    background-position: center;
    background-size: cover;   
    @include media-breakpoint-up(md) {
        height: 439px;   
    } 
}
.artist03{
    display: none;
    @include media-breakpoint-up(xxl) {
        background: url(../images/artist03.jpg);
        width: 306px;
        height: 262px;
        background-position: center;
        background-size: cover;    
        filter:grayscale(100%) ;
        display: block;
    }    
    
}
.artist-hover {    
    position: absolute; 
    h3 {
        font-size: 32px;
    } 
    @include media-breakpoint-up(lg) {
        h3 {
            font-size: 80px;
            width: 258px;
        }
    }
}
.text-bgopacity85 {
    background-color: rgba($white,0.85);
    padding: 24px;
    @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 24px;        
        width: 307px;
        margin-left: 24px;
    }
}
.pagination{
    position: absolute;
    content: '';
    width: 16px;
    height: 8px;
    background-color:$secondary;
    bottom:-24px;
    left: 48%;
    cursor: pointer;
    @include media-breakpoint-up(lg) {
        bottom:-48px;
    }
}
.pagination::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $black;
    left: -16px;
    cursor: pointer;
}

.pagination::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $black;
    right: -16px;
    cursor: pointer;
}
// Artwork
.artwork-card {
    
    h4 {
        font-size: 14px;
        @include media-breakpoint-up(lg) {
            font-weight: 700;
            font-size: 16px;
        }
    }
}
.artwork-hover-btn{
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
        position: absolute;
        width: calc(100% - 48px);
        height: calc(100% - 48px);
        background-color: rgba( $black,0.5 ); 
        top: 0;
        left: 0;
        margin: 24px;
        padding: 16px;      
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

//  join Us
.bb4px::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $black;
    bottom: 8px;
}

