.btn {
    color: $black;
    border-color: $black;
    padding: 8px 48px;
    position: relative;
    font-size: 18px;
    line-height: 19px;
}
.btn:hover {
    border-color: $black;
    color: $white;
    background-color: $secondary;
}
.btn-bg-white {
    background-color: $white;
}
.btn-triangle::after{
    position: absolute;
    content: '';
    border-color: transparent $secondary $secondary transparent  ;
    border-style: solid solid solid solid;
    border-width: 8px;
    bottom: 0;  
    right: 0; 
}
.btn-triangle:hover::after{
    border-color: transparent $black $black transparent  ;
}
.btn-borderNone {
    border-color: transparent;
    bottom: -1px;
    right: -1px;
}